@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito:wght@300;400&family=Poppins:wght@100;300;400;500;600&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bakbak One', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root {
    --pink: #e84393;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

#home {
    width: 100%;
    height: 100vh;
    background-image: url(img/home-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    top: 0;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #fff;
    z-index: 1000;
}

nav ul {
    flex: 1;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
    font-size: 18px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav h1 {
    font-size: 30px;
    margin-right: 30px;
    margin-left: 60px;
}

.nav-icon {
    display: flex;
}

.nav-icon i {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

#menuBtn {
    display: none;
}

nav .login {
    width: 250px;
    height: 200px;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 110%;
    right: -500px;
    transition: .4s;
}

nav .login h3 {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    margin-bottom: 10px;
}

nav .login input {
    margin: 5px 20px;
    width: 200px;
    padding: 5px 10px;
    border: none;
    background-color: whitesmoke;
    outline: none;
}

nav .login button {
    margin: 10px 80px;
    padding: 5px 20px;
    border: 1px solid black;
    outline: none;
    background-color: #fff;
    color: black;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

nav .login.active {
    transition: .4s;
    right: 2rem;
}

/* Home */

.banner {
    margin-left: 150px;
    padding-top: 200px;
}

.banner h1 {
    font-size: 60px;
}

.banner h2 {
    font-size: 40px;
    color: var(--pink);
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    line-height: 20px;
    color: grey;
    margin-bottom: 20px;
}

.banner button {
    padding: 10px 30px;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

#about {
    width: 100%;
    height: 80vh;
}

#about h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    margin: 0 100px;
    margin-top: 30px;
}

.about-row {
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
}

.about-left video {
    width: 550px;
    height: 500px;
    margin: 0 20px;
}

.about-left {
    flex-basis: 50%;
}

.about-right {
    margin-top: 110px;
    flex-basis: 50%;
    margin-left: 20px;
}

.about-right h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.about-right p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 6px;
}

.about-right button {
    margin-top: 10px;
    padding: 10px 25px;
    border: none;
    background-color: black;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
}

.about-right button:hover {
    background-color: var(--pink);
}

/* Products */

#product {
    width: 100%;
    height: 180vh;
    margin-top: 0;
}

#product h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.product-row {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    align-items: center;
    justify-content: space-evenly;
}

.product-col {
    padding: 20px 10px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.1);
    width: 280px;
    flex-basis: 33.33%;
    margin-bottom: 50px;
    text-align: center;
    transition: .5s;
}

.product-col:hover {
    transform: scale(1.1);
}

.product-col h4 {
    text-align: left;
    font-size: 18px;
    color: var(--pink);
    background-color: rgb(255, 247, 248);
    width: 100px;
    padding: 6px;
    border-radius: 6px;
    margin: 0;
}

.product-col h2 {
    font-size: 25px;
    margin: 10px 0;
}

.product-col h3 {
    font-size: 20px;
    margin-right: 0;
    color: var(--pink);
    text-align: center;
}

.product-col img {
    width: 200px;
    text-align: center;
}

.product-col button {
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    margin: 20px 30px;
    margin-bottom: 10px;
    width: 150px;
    transition: .3s;
}

.product-col button:hover {
    background-color: var(--pink);
    color: #fff;
    border: none;
}

/* Review */

#review {
    width: 100%;
    height: 90vh;
    padding-top: 40px;
    margin-top: 0;
}

#review h1 {
    text-align: center;
    font-size: 50px;
}

.review-col {
    width: 300px;
    height: 250px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0;
    text-align: center;
}

.review-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 0;
    text-align: center;
}

.rating {
    margin: 20px;
    color: var(--pink);
    font-size: 15px;
}

.review-col p {
    font-size: 13px;
    line-height: 15px;
    padding: 0 10px;
    width: 300px;
}

.user {
    display: flex;
    text-align: center;
    padding: 20px;
}

.user h2 {
    margin-left: 10px;
    width: 100px;
}

.user p {
    width: 150px;
    margin-left: 0;
}

.user img {
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Contact Us */

#contact {
    width: 100%;
    height: 100vh;
}

#contact h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.contact-row {
    display: flex;
    justify-content: space-evenly;
}

.contact-left {
    width: 500px;
    height: 400px;
    padding: 30px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.1);
}

.contact-left input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    outline: none;
}

.contact-left textarea {
    width: 400px;
    height: 100px;
    outline: none;
    padding: 10px;
}

.contact-left button {
    padding: 10px 25px;
    background-color: black;
    border: none;
    color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.contact-right img {
    width: 500px;
    height: 400px;
    margin-top: 0;
    box-shadow:  5px 10px 25px rgba(0, 0, 0, 0.1);
}









/*-- Media Screen --*/

@media only screen and (max-width: 991px) {
    html {
        font-size: 55%;
    }

        nav ul {
            top: 100%;
            width: 150px;
            height: 280px;
            position: absolute;
            right: -300px;
            background-color: #fff;
            border-radius: 6px;
            transition: .4s linear;
            text-align: center;
            padding: 10px 0;
        }

        nav ul.active {
            transition: .4s linear;
            right: 5rem;
        }

        nav ul li {
            text-align: center;
            margin: 15px;
        }

    #menuBtn {
        display: block;
    }

    .banner {
        text-align: center;
        margin: 0;
        padding-top: 250px;
    }

    .banner h1 {
        font-size: 60px;
    }

    .banner h2 {
        font-size: 40px;
    }

    .banner p {
        margin: 25px 0;
    }

    .banner button {
        padding: 15px 50px;
        font-size: 16px;
    }

    #about {
        height: 60vh;
    }

    .about-row {
        margin: 0 30px;
    }

    .about-right {
        margin-top: 100px;
    }

    .about-left video {
        width: 400px;
        height: 350px;
        margin-top: 50px;
    }

    .review-row {
        text-align: center;
        display: grid;
        grid-template-columns: 300px 300px;
    }

    #review-3 {
        text-align: center;
        width: 300px;
        margin: 0;
    }

    .review-col {
        margin: 0;
    }

    #product {
        margin-top: 0px;
        height: 90vh;
    }

    #review {
        margin-top: 100px;
        height: 70vh;
    }

    #contact {
        margin-top: 0;
        height: 60vh;
        margin-top: 0;
    }

    .contact-row {
        display: flex;
    }

    .contact-right {
        display: none;
    }

     
}

@media only screen and (max-width: 768px) {
    nav {
        padding: 30px 50px;
    }

    nav ul {
        top: 110%;
        width: 150px;
        height: 250px;
        position: absolute;
        right: -300px;
        background-color: #fff;
        border-radius: 6px;
        transition: .4s linear;
    }

    nav ul.active {
        transition: .4s linear;
        right: 5rem;
    }

    nav ul li {
        display: block;
    }

    .banner {
        text-align: center;
        margin: 0;
    }

    .banner p {
        text-align: center;
    }

    .about-row {
        display: block;
        text-align: center;
    }

    .about-right {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .about-left video {
        margin-top: 20px;
    }

    #product {
        margin-top: 300px;
        height: 110vh;
    }

    .review-row {
        display: block;
        display: grid;
        grid-template-columns: 300px;
    }

    #review {
        height: 100vh;
    }

    #contact {
        height: 60vh;
        margin-top: 0px;
    }

    .contact-right {
        display: none;
    }

    .contact-row {
        display: flex;
    }

}

@media only screen and (max-width: 450px) {
    nav {
        padding: 30px 50px;
    }

    nav ul {
        top: 110%;
        width: 150px;
        height: 250px;
        position: absolute;
        right: -300px;
        background-color: #fff;
        border-radius: 6px;
        transition: .4s linear;
    }

    nav ul.active {
        transition: .4s linear;
        right: 5rem;
    }

    nav ul li {
        display: block;
    }
    nav h1 {
        margin-left: 10px;
    }

    .banner {
        text-align: center;
        margin: 0;
        padding-top: 150px;
    }

    .banner h1 {
        font-size: 60px;
    }

    .banner p {
        text-align: center;
    }

    .about-row {
        display: block;
        text-align: center;
    }

    .about-right {
        text-align: center;
    }

    .about-left video {
        text-align: center;
        margin: 0;
        width: 300px;
        height: 250px;
    }

        .product-row {
            display: grid;
            grid-template-columns: 230px;
            align-items: center;
            justify-content: space-evenly;
        }

    .product-col {
        margin: 0;
        width: 100%;
    }

    #product {
        margin-top: 300px;
        height: 300vh;
    }

    #review {
        margin-top: 100px;
        height: 120vh;
    }

    #contact {
        margin-top: 0px;
    }

    .contact-left {
        text-align: center;
        display: grid;
        grid-template-columns: 500px;
    }

    .contact-right {
        display: none;
    }

    .contact-left {
        width: 400px;
    }

    .contact-left input {
        width: 350px;
    }

    .contact-left .msg {
        width: 350px;
        height: 100px;
    }

    .contact-row {
        display: flex;
    }

    .contact-left button {
        padding: 5px 10px;
        width: 200px;
        font-size: 15px;
    }
}
